@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    corporate --default,
    business --prefersdark;
}

@layer base {
  h1 {
    color: var(--color-primary);
    font-size: var(--text-4xl);
  }
  h2 {
    color: var(--color-secondary);
    font-size: var(--text-2xl);
  }
  h3 {
    font-size: var(--text-lg);
  }

  h1,
  h2,
  h3 {
    font-weight: bold;
    margin-bottom: calc(var(--spacing) * 4);
  }
}
